.hov:hover{
    background-color: chocolate;
    color: white;
}
.design {
    animation: fadeInDown 1s ease-in-out;
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, transform var(--e-transform-transition-duration, 0.4s);
  }
  
  .animate__animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  .animate__delay-1s {
    animation-delay: 1s;
  }
  
  .animate__delay-2s {
    animation-delay: 2s;
  }
  
  .animate__fadeInUp {
    animation-name: fadeInUp;
  }
  
  .animate__fadeInRight {
    animation-name: fadeInRight;
  }
  
  .animate__fadeInLeft {
    animation-name: fadeInLeft;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }