.textStyle{
    color: transparent;
    font-family: arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 1px ;
    -webkit-text-stroke-color: rgb(241, 237, 237) ;
}
.back {
    background-image: url('../../assets/images/bbbb.jpg');
    position: relative;
    overflow: hidden;
    
  }


.sty{
   
    filter: blur(1px);
    
}

